h1{
    font-family: 'Roboto', sans-serif;    
    font-weight: bold;
    text-align: center;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
p{
    font-family: 'Roboto', sans-serif;
}
body{
    overflow: hidden;
}
.datasheetholder{
    width:98%;
    float: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 1%;
    text-align: center;
    height: 100%;
}
.howtoholder{
    width:98%;
    border-radius: 25px;
    border: 2px solid black;
    float: center;
    padding: 1%;
    padding-left: 2%;
    text-align: left;
    height: 100%;
}
.divholder{
    width: 100%;
}
.floatdivL{
    float: left;
    width: 39%;
    padding: .5%;
    height:90vh;
}
.floatdivR{
    float: left;
    width: 59%;
    padding: .5%;
    height: 90vh;
}
.nameTableHolder{
    width: 100%;
}
.nameTableElement{
    width: 25%;
    float: left;
}